html {
    box-sizing: border-box;
    font-size: 52.5%; 
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: #100E17;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    position: relative;
    height: 100vh;
}
p {
    font-size: 1.6rem;
}
/** Globales **/
h1, h2, h3  {
    color: #ffffff;
    margin: 0;
}
h1 {
    font-weight: 900;
    font-size: 5rem;
}
h2 {
    padding-top: 20px;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
}
h3 {
    font-size: 2.8rem;
}

.contenedor {
    max-width: 1200px;
    margin: auto;
}

.separador {
    padding-bottom: 2rem;
    padding-top:2rem;
    border-bottom: 2px solid #272727;
}

/** Botones **/
.btn {
    font-size: 1.8rem;
    padding: 1.4rem 6rem;
    border-radius: .6rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color .2s ease-out;
    display: block;
    border:none;
}
.btn-verde {
    
    background-color: #00C897;
}
.btn-verde:hover {
    background-color: rgb(10, 155, 119);
}

.verde-salvaje {
    
    background-color: #00C897;
}
.verde-salvaje:hover {
    background-color: rgb(10, 155, 119);
}

.btn-azul {
    background-color: #00A4B6;
}
.btn-azul:hover {
    background-color: rgb(3, 133, 148);
}

.btn-amarillo {
    margin-bottom: 15px;
    background-color: #F6B15F;
}
.btn-rojo {
    background-color: #C80045;
}

.editar-btn {
    margin-top: 4rem;
}
.editar-btn {
    flex: 0 0 auto;
    text-align: center;
}



/** Header **/
.tagline {
    font-size: 2.2rem;
    color: #ffffff;
    margin: 2rem 0 3rem 0;
}


.site-header {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 0rem;
}
@media (min-width:768px){
    .site-header{
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
    }
    h2{
        padding-top: 20px;
        text-align: center;
    }

}
@media (max-width:1000px){
    .site-header{
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    }
    h2 {
        text-align: center;        
    }
    .tagline{
        text-align: center;  
    }
    



}
.header{
    position: fixed;
    top: 0;
    width: 100%;

}
.contenedor {
    width: 1600px;
    margin: auto;

}
.subcontenedor{
    width: 85%;
    margin: auto;
}

.navbar{
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.nav-tit{
    font-size: 6rem;
}
.nav-item{
margin-top: 10px;

}

.img-nav {
    width: 80px;
    border-radius: 100%;
}

.hamburger{
    display: none;
    cursor: pointer;

}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: #00C897;
}



.contenedor a {
    color: white;
    text-decoration: none;
}
.nav-tit:hover {
    color: #00A4B6;
}
.nav-item a:hover {
    color:  blanchedalmond;
    background-color: #00C897;
    border-radius: 10px;
}
.nav-item .nov{
    color: rgb(220, 11, 11);
    width: 25px;
    height: 25px;
     justify-content: center;
    align-items: center;
 }

.nav-item .hola{
    color: #616065;
    padding-left: 30px;
}
.buscador {
    padding-top: 1rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 30px 300px 0px;

}
.buscador form {
    flex: 1;
    position: relative;
}
.count-products{


    background-color: #000;
    color: rgb(220, 11, 11);
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
@media (max-width:1600px){
    .contenedor{
        width: 100%;
    }


    .nav-item .nov:hover{
        background-color:#0d88f5;
        color:#100E17;
    }
    
    .nav-item a:hover{
        background-color:#0d88f5;
        color:#100E17;
    }
    .nav-tit {
        padding-left: 20px;
        font-size: 5rem;
    }

}

@media (max-width:1024px){
    .hamburger{
        display: block;
        padding: 20px;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg); 
    }

    .nav-menu{
        position:fixed;
        left: 900%;
        top: 188px;
        flex-direction:inherit;
        background-attachment:inherit;
        width: 100%;
        transition: 0.2s;
        background-color: hwb(186 0% 29%);

    }
    .nav-item{
        margin-bottom: 10px;
    }
    .count-products{
        margin: 2px; 
    }
    .nav-menu.active{
        left: 0px;
        justify-content:center;
    }
    .img-nav{
        margin-top: 10px;
        width: 50px;
        border-radius: 90%;
        align-items: center;
    }

    .buscador {

        padding: 30px 100px 0px;
    
    }
    .buscador form {
        flex: 1;
        position: relative;
    }

}
@media (min-width: 1600px) {
    .buscador form {
        flex: 0 0 60%;

    }
}

.buscador input[type="text"] {
    background-color: rgba(255,255,255,.1);
    width: 100%;
    border: none;
    padding: .5rem 8rem .5rem 2rem;
    height: 5rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.2rem;
}
.buscador input[type="submit"] {
    display: block;
    text-indent: -9999px;
    height: 30px;
    width:30px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-image: url(../img/lupa.png);
    background-color: transparent;
    border: none;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}
.buscador input[type="submit"]:hover {
    cursor: pointer;
}



.informe{
    text-align: center;
    justify-content: space-around;
    padding-top: 40px;
}
.tarea {
    padding: 3rem 0;
    border-bottom: 2px solid #272727;
}
.informe,
.tarea:last-of-type{
    border:none;
    border-bottom: 2px solid #272727;
}
.caja {
    padding: .5rem 0;
}
.caja p {
    color: #ffffff;
}
.prioridad {
    text-transform: capitalize;
}
.caja .puesto,
.caja .etiqueta {
    font-weight: 700;
    color: #616065;
    font-size: 2.6rem;
    margin: 0;
    text-align: left;
}
.caja .etiqueta2 {
    font-weight: 700;
    color: white;
    font-size: 2.6rem;
    margin: 0;
    text-align: center;
}
.caja .prioridad1 {
    font-weight: 700;
    color: #616065;
    font-size: 2.6rem;
    margin: 0;
    text-align: center;
}
.caja .contrato1 {
    font-weight: 700;
    color: #616065;
    font-size: 2.6rem;
    margin: 0;
    text-align: center;
}


.caja1 .etiqueta {
    font-weight: 700;
    color: #616065;
    font-size: 2.6rem;
    margin: 0;
    text-align: left;
}
.caja1 .nombre { 
    font-size: 2.4rem; 
    margin: .5rem 0; 
    text-align: left;
}
.caja1 .etiqueta {
    margin:1rem 0 0 0;
}
.caja2 .etiqueta {
    font-weight: 700;
    color: #616065;
    font-size: 2.6rem;
    margin: 0;
    text-align: center;
}
.caja2 .nombre { 
    font-size: 2.4rem; 
    margin: .5rem 0; 
    text-align: center;
}
.caja2 .etiqueta {
    margin:1rem 0 0 0;
}
.caja .etiqueta {
    margin:1rem 0 0 0;
}

.caja .nombre { 
    font-size: 2.4rem; 
    margin: .5rem 0; 
    text-align: left;
}
.caja .btn {
    text-align: center;
}
.caja3 .btn {
    text-align: right;
}
@media (min-width:1000px) {
    .informe{
        display: flex;
    }
    .tarea {
        justify-content: space-around;
        display: flex;
        
    }

    
}
@media (max-width:1000px) {


    h3{
        text-align: center;
    }

    .caja .puesto{
        text-align: center; 
    }


    .panel-administracion{
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .tarea .informes{
        padding-left: 55px;
    }

    
    .btn-rojo{
        margin-top: 20px;
    }
    


}
.novedades{
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-overflow: clip;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    border-bottom: 2px solid #272727;
}

.novedades .cajass .nombre{
    padding-top: 10px;
    font-size: 2.4rem; 
    margin: .5rem 0; 
    padding-bottom: 10px;
}

.novedades .verdess{
    font-size: 1.8rem;
    padding: 1.4rem 6rem;
    border-radius: .6rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color .2s ease-out;
    background-color: #00C897;

}
.novedades .cajass1{
    padding-top: 20px;
}
.verdess:hover {
    background-color: rgb(10, 155, 119);
}
.novedades a{
    padding-top: 100px;
}


.novedades .cajass .etiqueta{
    font-weight: 700;
    color: #616065;
    font-size: 2.6rem;
    margin: 0;
    padding: 10px;
}

.novedades .descripcion *{
    padding-top: 10px;
    color: wheat!important;
    line-height: 2.2;
    font-size: 2.6rem;
}
.novedades h2{
    padding-top: 50px;
    line-height: 1.4;
}


.centrar-vertical{
    display: flex;
    align-items: center;
    justify-content: center;
}
.centrar-horizontal {
    display: flex;
    justify-content: center;
}

.tarea-contenedor h2 {
    color: #616065;
    font-size: 2.4rem;
}
.contenido-superior {
    margin-bottom: 4em;
}


@media (max-width:1000px){
    .contenido-superior {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .contenido-superior .nombre{
        text-align: center;
    }
    .caja .puesto, .caja .etiqueta {

        text-align: center;
    }


}
@media (min-width:1000px){
    .tarea-contenedor {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .tarea-contenedor main{
        flex: 0 0 50%;
    }
    .tarea-contenedor aside {
        flex-wrap: wrap;
        flex: 0 0 calc(40% - 2rem);
    }
}

.tarea-descripcion h1 {
    line-height: 1.4;
}
.tarea-descripcion *{
    color: white!important;
    line-height: 2.2;
}
.skills {
    color: white;
}
.skills1 {
    color: white;
}
.skills li,
.skills1 li,
.tarea-descripcion div  {
    font-size: 1.8rem;
    line-height: 2.4;
}


.enviar-datos h2 {
    font-size: 4rem;
    color: white;
}
.enviar-datos p {
    color: white;
    font-size: 1.8rem;
}
.enviar-datos form {

}


/** Iniciar Sesión **/
.default-form {
    max-width: 800px;
    margin: 4rem  auto 0 auto; 
}
.default-form h3 {
    color: #616065;
    font-size: 2.4rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.datos-reclutador h3{
    color: white;
    font-size: 2.4rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center; 
}
.datos-reclutador .campo.descripcion label{
    color: #616065;
    font-size: 2.4rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
}
.default-form .campo {
    margin-bottom: 3rem;
    display: flex;  
     
}
.default-form label {
    padding-top: 1rem;
    flex: 0 0 18rem;
    font-size: 1.8rem;
    color:white;
    font-weight: 700;
    text-transform: uppercase;
}
@media (max-width:1000px){
    .default-form {
        margin: 4rem  auto 0 auto; 
    }
    .default-form .campo {
        margin-bottom: 3rem;
        display: flex; 
          
    }

    .default-form .campo label{
        padding-right: 20px;
          
    }
    .default-form label {
        padding-top: 1rem;
        flex: 0 0 10rem;
        font-size: 1.8rem;
        color:white;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.default-form input[type="email"],
.default-form input[type="password"],
.default-form input[type="text"],
.default-form input[type="date"],
.default-form input[type="number"],
.default-form input[type="file"],
.default-form select,
.default-form textarea  {
    flex: 1;
    height: 4.5rem;
    padding: 1rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    border: none;
} 


.default-form input[type="file"] {
    color: white;
}
trix-toolbar, 
trix-editor {
    background-color: white!important;
}
trix-toolbar {
    padding: 1rem;
}
trix-editor {
    font-size: 1.8rem;
    min-height: 30rem!important;
    padding: 2rem;
}
trix-editor h1, 
trix-editor blockquote {
    color: black;
}
trix-toolbar .trix-button-group {
    margin-bottom: 0;
}
trix-toolbar .trix-button--icon-strike {
    display: none;
}
.campo.descripcion {
    display: block;
}
.campo.descripcion label {
    display: block;
    margin-bottom: 2rem;
}
.default-form input[type="submit"] {
    margin-top: 2rem;
}
.default-form input[type="submit"]:hover {
    cursor: pointer;
}

.default-form .acciones {
    display: flex;
    justify-content: space-between;
}
.default-form a {
    color: #616065;
    text-decoration: none;
}

.lista-conocimientos {
    list-style: none;
    padding: 0;    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.lista-conocimientos1 {
    list-style: none;
    padding: 0;    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.lista-conocimientos  li {
    border: 2px solid #00C897;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    flex: 0 0 calc( 50% - 1rem);
    text-align: center;
    border-radius: 1rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lista-conocimientos1  li {
    border: 2px solid #00C897;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    flex: 0 0 calc( 50% - 1rem);
    text-align: center;
    border-radius: 1rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lista-conocimientos  li.activo {
    background-color: #00C897;
}
.lista-conocimientos1  li.activo {
    background-color: #00C897;
}
.lista-conocimientos  li:hover {
    cursor: pointer;
}
.lista-conocimientos1  li:hover {
    cursor: pointer;
}

@media (min-width:700px) {
    .lista-conocimientos li {
        flex: 0 0 calc( 33% - 1rem);
    }
}
@media (min-width:700px) {
    .lista-conocimientos1 li {
        flex: 0 0 calc( 33% - 1rem);
    }
}
@media (min-width:800px) {
    .lista-conocimientos li {
        flex: 0 0 calc( 25% - 1rem);
    }
}
@media (min-width:800px) {
    .lista-conocimientos1 li {
        flex: 0 0 calc( 25% - 1rem);
    }
}
@media (min-width:800px) {
    .lista-conocimientos li {
        flex: 0 0 calc( 20% - 1rem);
    }
}
@media (min-width:800px) {
    .lista-conocimientos1 li {
        flex: 0 0 calc( 20% - 1rem);
    }
}

/** Admin **/

p.informes {
    font-weight: 400;
    color: white;
    display: block;
    font-size: 1.8rem;
    margin: 1rem 0 0 0;
    text-align: left!important;
    text-decoration: none;
    color: #616065;
}
.admin-perfil {
    width: 120px;
    align-self: flex-start;
    border-radius: 100%;
}
.cerrar-sesion .hola, 
.cerrar-sesion a {
    color: #888;
    padding: 10px 20px;
    border-radius: 10px;
    transition: ease-in .3s;
}
.cerrar-sesion .nov{
    color: red;
    border-radius: 10px;
    transition: ease-in .3s;
}

.cerrar-sesion .nov:hover{
    background:#00C897;
    color:white;
}

.cerrar-sesion a:hover{
    background:#00C897;
    color:white;
}

.cerrar-sesion {
    color: white;
    width: 50%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    
}
.cerrar-sesion img {
    width: 60px;
}


.botones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0 5rem 0;
    margin-bottom: 5rem;
}
.botones a {
    margin-right: 5rem;
}
@media (max-width:1000px){
    .botones {
        flex-direction: column;
        align-items: center;
    }

    .botones .btn-azul{
        margin: auto;
        margin-bottom: 20px;
    }
    .botones .btn-verde{
        margin: auto;
    }

}
@media (max-width:1000px){



    

    


}


.lista-informes p,
.lista-tareas p {
    color: white;
    text-align: center;
}

/** Alertas **/
.swal2-popup {
    width: 60rem!important;
}
.swal2-popup .swal2-title {
    font-size: 3.4rem!important;
}
.swal2-content {
    font-size: 2rem!important;
}
.swal2-popup .swal2-styled.swal2-cancel,
.swal2-popup .swal2-styled.swal2-confirm {
    font-size: 2rem!important;
}

/** Flash Messages **/
.alertas {
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 65px;
}
.alerta {
    padding: 1rem 3rem; 
    color: white;
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: .3rem;
}
.correcto {
    background-color: #00C897;
}
.error {
    background-color: #C80045;
}
.desaparecer {
    opacity: 0;
}



/** Biografia tarea **/
.info-reclutador h2 {
    color: #616065;
    font-size: 2.4rem;
    text-align: center;
}
.info-reclutador img {
    max-width: 300px;
    width: 100%;
}
.datos-reclutador {
    border-top: 3px solid #272727;
    padding: 5rem 0;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
 
}
.datos-reclutador p {
    font-size: 2.4rem;
    color: white;
    text-align: center;
}

.enviar-datos h2 {
    font-size: 4rem;
    color: white;
    text-align: center;
}
.enviar-datos p {
    color: white;
    font-size: 1.8rem;
    text-align: center;
}
.info-reclutador{
    justify-content: space-between;
 }
@media (min-width:768px){
    .enviar-datos {
        flex: 0 0 calc(70% - 1rem);
    }
    .info-reclutador h2 {
        color: #616065;
        font-size: 2.4rem;
    }
    .info-reclutador img {
        max-width: 300px;
        width: 100%;
    }


}
@media (max-width:1000px){
    .datos-reclutador{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        
    }
    .info-reclutador{
        flex-direction: column; 
        text-align: center;
    }
    .info-reclutador img {
        width: 200px;
        border-radius: 10PX;

    } 
    .btn{
        text-align: center;
    }
    .btn-verde{

        margin: auto;
    }


}



/** interfaz cragar imagen formulario **/
.cajaimg{
font-family: "Hlvetica Neue", Arial, Helvetica, sans-serif;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 30px;
}
.drop-area{
    border: 5px dashed #ddd;
    height: 130px;
    width: 800px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
}


@media (min-width:1000px){
    .cajaimg{
        flex: 0 0 calc(70% - 1rem);
    }

}
.drop-area h4{
    margin: 0px;
    font-size: 30px;
    font-weight: 500;
    color: #000000;
}
.drop-area span{
    padding-top: 10px;
    font-size: 25px;
    font-weight: 500;
    color: #000000;
}
.drop-area.active{
    background-color: #b8d4fe;
    color: black;
    border: 2px dashed #618ac9;
}
.drop-area input{
    width: 150px;
    background-color: rgba(11, 195, 72, 0.876);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: initial;
}
